@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
body {background: url(https://3.bp.blogspot.com/-bPPJ5IOkYbs/VGG7-n8Uw7I/AAAAAAAAI0w/WLJGJSksKQQ/s320/depositphotos_9170481-Light-floral-vintage-seamless-pattern-for-retro-wallpapers.jpg);}
.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {content:none}
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #524f4e;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width:550px) {
    .menu-main {padding-top: 0}
    .menu-main li {display: block;}
    .menu-main li:after {content: none}
    .menu-main a {padding: 25px 0 20px; margin: 0 30px;}
}
h1 {
    font-size: 2.5em;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #524f4e;
    font-weight: 300;
}
h1 span {font-weight: 700}
p {
    font-size: 1.1em;
    font-family: 'Comfortaa', cursive;
    color: #A8B3B8;
}



table {
    border-collapse: collapse;
    width: 80%;
    background-color: whitesmoke;
}

th, td {
    text-align: center;
    padding: 8px;
}

input,select{
    width: 500px;
}
th {
    background-color:  white;
    color: #524f4e;
    font-family: 'Ubuntu Condensed', sans-serif;
}


a {
    text-decoration: none;

}
.s1 {
    background-image: linear-gradient(#feb386 50%, #feb386 50%), linear-gradient(silver 50%, silver 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 2px;
    color: #524f4e;
    padding-bottom: 3px;
    transition: .5s ease-in-out;
}
.s1:hover {
    background-size: 100% 2px, 100% 2px;
    color: #feb386;
}


